# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Виртуальные окружения
.venv/
venv/
env/

# pytest
.pytest_cache/
.coverage
htmlcov/

# База данных
pgdata/
*.db
*.sqlite

# Конфиги окружения
.env
.env.*
.local_*

# Docker
docker-compose*.yml
Dockerfile*

# Логи
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore